
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
    background-image: url(https://i.hizliresim.com/i4pj4xj.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit", sans-serif;
    padding-top: 4rem;
    padding-bottom: 2rem;
    animation: slideBackground 20s linear infinite;
}
.button {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 0; 
  padding: 0; 
  margin: 0; 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease; 
  z-index: 1; 
}

  .button:hover {
      opacity: 0.8; 
  }


.my-photo {
  width: 10rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid white;
  padding: 4px; 
}

.my-photo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border: solid red;
}

a {
  text-decoration: none;
  color: inherit;
}

.home__name {
  color: #ffff;
  font-family: Verdana, sans-serif;
  margin-bottom: 15px;
}

.home__desc {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

.sosmed {
  margin-bottom: 0.8rem;
}

.sosmed i {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease, text-shadow 1s ease; 
}

.sosmed i:hover {
  color: #ff0000; 
  text-shadow: 0 0 20px #ffffff; 
}

.sosmedins i:hover {
  color: #ccc343; 
  text-shadow: 0 0 20px #ffffff; 
}

.sosmedx i:hover {
  color: #000000; 
  text-shadow: 0 0 15px #ffffff; 
}

.sosmedfb i:hover {
  color: #0059ff; 
  text-shadow: 0 0 20px #ffffff; 
}
.sosmedgit i:hover {
  color: #0c0c0c; 
  text-shadow: 0 0 15px #ffffff; 
}


.sosmeddc i:hover {
  color: #578ef5; 
  text-shadow: 0 0 20px #ffffff; 
}

.sosmedspot i:hover {
  color: #41ff3a; 
  text-shadow: 0 0 15px #ffffff; 
}

.sosmedred i:hover {
  color: #ee8b1b; 
  text-shadow: 0 0 15px #ffffff; 
}


.sosmedtwc i:hover {
  color: #9167f3;
  text-shadow: 0 0 20px #ffffff; 
}
.sosmed a:not(:last-child) {
  margin-right: 1rem;
}

ul {
  width: 90%;
  max-width: 40rem;
  padding: 0; 
  margin: 0;
}

ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

ul.links li:not(:last-child) {
  margin-bottom: 1rem;
}

.links {
  margin-top: 1rem;
}

.link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  opacity: 0.7;
  gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 8px 10px 0 #202121;
  border: 2px solid red;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.9s ease; 
}

.link-card:hover {
  transform: scale(1.1) ; 
  opacity: 1; 
  border: 3px solid rgb(12, 12, 12);
  box-shadow: none; 
}
.links .link-icon {
  background-image: linear-gradient(to top, white,white);
  padding: 0.5rem;
  border-radius: 10px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links .link-icon i {
  color: black;
}

.links .link-text {
  text-align: center;
  color: white;
}

.link-action {
  color: red;
  cursor: pointer;
  padding: 10px;
}


.copyright {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  font-size: 0.75rem;
}

.copyright a:hover {
  color: rgb(221, 100, 20);
  font-size: 0.79rem;
}

#toast {
  width: max-content;
  position: fixed;
  top: 0;
}

.toast-container {
  background-color: black;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  animation: muncul 300ms ease-in-out;
  opacity: 0.7;
}

.toast-gone {
  animation: hilang 1s ease-in-out 1s;
}

@keyframes muncul {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hilang {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 5px solid #3498db;
  border-top: 5px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.toggle-music-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
}

    .toggle-music-button:hover {
        background-color: #000000;
        border-color: #ffffff;
    }

    .toggle-music-button i {
        font-size: 24px;
        color: #ffffff;
    }

