html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.social a:before {
  font-size: 24px;
  display: inline-block;
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
}
.social .blogger a:before {
  content: "\f37d";
}
.social .facebook a:before {
  content: "\f09a";
}
.social .twitter a:before {
  content: "\f099";
}
.social .rss a:before {
  content: "\f09e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.social .youtube a:before {
  content: "\f167";
}
.social .skype a:before {
  content: "\f17e";
}
.social .stumbleupon a:before {
  content: "\f1a4";
}
.social .tumblr a:before {
  content: "\f173";
}
.social .vk a:before {
  content: "\f189";
}
.social .stack-overflow a:before {
  content: "\f16c";
}
.social .github a:before {
  content: "\f09b";
}
.social .linkedin a:before {
  content: "\f0e1";
}
.social .dribbble a:before {
  content: "\f17d";
}
.social .soundcloud a:before {
  content: "\f1be";
}
.social .behance a:before {
  content: "\f1b4";
}
.social .digg a:before {
  content: "\f1a6";
}
.social .tiktok a:before {
  content: "\e07b";
}
.social .instagram a:before {
  content: "\f16d";
}
.social .pinterest a:before {
  content: "\f0d2";
}
.social .twitch a:before {
  content: "\f1e8";
}
.social .delicious a:before {
  content: "\f1a5";
}
.social .codepen a:before {
  content: "\f1cb";
}
.social .flipboard a:before {
  content: "\f44d";
}
.social .reddit a:before {
  content: "\f1a1";
}
.social .whatsapp a:before {
  content: "\f232";
}
.social .messenger a:before {
  content: "\f39f";
}
.social .snapchat a:before {
  content: "\f2ac";
}
.social .email a:before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
}
.social .external-link a:before {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
body {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.bg-lrmnseo {
  width: 100vw;
}
.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
.widget-flex {
  text-align: center;
}
.widget_bottom {
  position: relative;
  z-index: 999;
  padding-bottom: 176px;
  margin: 0 auto;
  margin-top: 48px;
}
.widget_bottom img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.widget_bottom p,
.bioLink-text {
  padding: 0;
  margin: 0;
}
.widget_bottom h3,
.widget_bottom p,
.bioLink-text {
  text-align: center;
}
ul.social {
  margin: 16px 0 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
ul.social li {
  margin: 0 12px 12px;
}
ul.social li:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}
.bioLink-item:hover {
  transform: translate3d(0px, 0px, 0px) scale(1.015);
}
.bioLink-item {
  border-radius: 8px;
  position: relative;
  margin: 16px 0;
  transition: transform 0.15s cubic-bezier(0.17, 0.67, 0.29, 2.71) 0s;
}
.bioLink-item a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  font-size: 16px;
  z-index: 10;
  box-sizing: border-box;
  min-height: 56px;
}
.bioLink-text {
  font-weight: 600 !important;
  width: 55%;
  word-break: break-word;
}
.bioLink-shadow {
  border-radius: 8px;
  box-shadow: 0px 6px 14px -6px rgb(24 39 75 / 12%),
    0px 10px 32px -4px rgb(24 39 75 / 10%),
    inset 0px 0px 2px 1px rgb(255 255 255 / 5%);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.copyright-web {
  position: relative;
  text-align: center;
  padding: 0 0 35px;
  overflow: hidden;
}
.copyright-web img {
  background: #fff;
  width: 32px;
  object-fit: contain;
  height: 32px;
  border: 1px solid rgba(155, 155, 155, 0.1);
}
.widget_bottom img {
  border: 3px solid #131212;
}
.img_story {
  padding: 4px;
  background: hsl(174deg 96% 23%);
  width: 94px;
  height: 94px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.logo-footer {
  opacity: 0.5;
  color: #fff;
  text-align: center;
  bottom: 32px;
  left: calc(43% - 15px);
  position: absolute;
}
a:link,
a:visited,
.widget_bottom h1,
.widget_bottom .caption {
  color: #ffffff;
}
.bg-lrmnseo {
  background: #131212;
}
.widget_bottom {
  width: 640px;
}
.widget_bottom h1 {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.widget_bottom h2.caption {
  line-height: 22px;
  margin-top: 12px;
}
.widget_bottom .caption,
.bioLink-text {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.bioLink-shadow {
  border: 0 solid transparent;
  background: #212121;
}
@media (max-width: 768px) {
  .widget_bottom {
    width: 90%;
  }
}
